/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY THEMES */
body.light {
  background-color: white;
  color: black;
}

body.dark {
  background-color: black;
  color: white;
}

/* UI */
button {
  margin: 6px;
  padding: 6px 12px;
  cursor: pointer;
}

div {
  padding: 10px;
}
